* {
	padding: 0;
	margin: 0;
}

html {

    background: url(images/bg3.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.container {
	width: 1200px;
	height: 2275px;
	margin: auto;
	font-size: 0;
}

.header {
	width: 100%;
	height: 100px;
	background-color: black;
	overflow: hidden;
}

.logo {
	width: 600px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	color: white;
	overflow: hidden;
	font-size: 20px;
	margin-right: 280px;
}

.logo_main {
	width: 1600px;
	height: 100px;
	margin: auto;
	display: block;
}

.nav {
	width: 600px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
}

.naver {
	width: 542px;
	height: 20px;
	display: block;
	font-size: 18px;
	padding-top: 40px;
	margin-left: 29px;
}

.welcome {
	width: 1200px;
	height: 600px;
	display: block;
	text-align: center;
	font-size: 20px;
}

.hsecond {
	width: 1200px;
	height: 285px;
	display: block;
}

.hfirst {
	width: 1200px;
	height: 58px;
	display: block;
}

.content {
	width: 800px;
	height: 2275px;
	display: inline-block;
	vertical-align: top;
	background-color: #f2f0e3;
	border-top-left-radius: 5px;
}

.latest {
	width: 787px;
	height: 50px;
	display: block;
	border-right: 4px solid;
	border-color: #ff003b;
	margin-right: 9px;
	margin-top: 9px;
	text-align: left;
	font-size: 18px;
}

.block_first {
	width: 783px;
	height: 720px;
	display: block;
	margin-top: 9px;
	margin-right: 9px;
	margin-left: 9px;
	margin-bottom: 15px;
}

.block_img {
	height: 433px;
	border: 4px solid;
	border-radius: 5px;
	box-shadow: 5px 5px 6px grey;
}

.info {
	width: 140px;
	height: 276px;
	display: inline-block;
	vertical-align: top;
}

.viewes {
	width: 140px;
	height: 36px;
	margin-top: 24px;
	display: block;
	background-color: #ff003b;
	font-size: 22px;
	text-align: right;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
}

.subscribes {
	width: 140px;
	height: 36px;
	margin-top: 10px;
	display: block;
	background-color: #00c213;
	font-size: 22px;
	text-align: right;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
}

.likes {
	width: 140px;
	height: 36px;
	margin-top: 10px;
	display: block;
	background-color: #00c4ff;
	font-size: 22px;
	text-align: right;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
}

.downlodes {
	width: 140px;
	height: 36px;
	margin-top: 10px;
	display: block;
	background-color: #002dcf;
	font-size: 22px;
	text-align: right;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
}

.read_more {
	width: 140px;
	height: 56px;
	margin-top: 10px;
	display: block;
	background-color: #f5001d;
	font-size: 22px;
	text-align: right;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
}

.info_text {
	width: 643px;
	height: 36px;
	display: inline-block;
	vertical-align: top;
}

.zagolovok {
	width: 615px;
	height: 36px;
	margin-top: 24px;
	margin-left: 24px;
	font-size: 18px;
	display: block;
	border-left: 4px solid;
	border-color: #ff003b;
}

.text {
	width: 643px;
	height: 216px;
	display: block;
	font-size: 18px;
	color: grey;
	text-align: justify;
}

.aside {
	width: 400px;
	height: 2275px;
	display: inline-block;
	vertical-align: top;
	background-color: rgba(13, 13, 13, 0.98);
	border-top-right-radius: 5px;
}

.sponsors {
	width: 378px;
	height: 50px;
	display: block;
	border-right: 4px solid;
	border-color: #ff003b;
	margin: 9px;
	text-align: left;
	font-size: 18px;
	background-color: #212121;
}

.sponsors_info {
	width: 382px;
	height: 120px;
	display: block;
	margin: 9px;
}

.s_first {
	width: 382px;
	height: 40px;
	display: block;
	font-size: 20px;
	text-align: right;
}

.s_second {
	width: 382px;
	height: 40px;
	display: block;
	font-size: 20px;
	background-color: #212121;
	text-align: right;
}

.s_third {
	width: 382px;
	height: 40px;
	display: block;
	font-size: 20px;
	text-align: right;
}

.l_video {
	width: 382px;
	height: 217px;
	display: block;
	margin: 9px;
	margin-bottom: 8px;
	box-sizing: border-box;
	border: 2px solid;
	border-color: #ff003b;
}

.l_video_2 {
	width: 378px;
	height: 212px;
	display: block;
	margin: 9px;
	margin-bottom: 15px;
}

.league {
	width: 382px;
	height: 240px;
	display: block;
	margin: 9px;
}

.l_diamond {
	width: 382px;
	height: 48px;
	display: block;
	color: white;
}

.cont_2 {
	height: 14px;
	width: 321px;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	margin-right: 9px;
	text-align: right;
}

.diamond_i {
	width: 52px;
	height: 48px;
	display: inline-block;
	vertical-align: top;
}

.container_league {
	width: 330px;
	height: 48px;
	display: inline-block;
	vertical-align: top;
}

.diamond_p {
	width: 321px;
	height: 22px;
	font-size: 18px;
	text-align: right;
	margin-right: 9px;
	margin-top: 5px;
}

.gallery {
	width: 382px;
	height: 248px;
	display: block;
	margin: 9px;
}

.gallery_first {
	width: 254px;
	height: 248px;
	display: inline-block;
	vertical-align: top;
}

.gallery_second {
	width: 128px;
	height: 248px;
	display: inline-block;
	vertical-align: top;
}

.first_line {
	width: 254px;
	height: 128px;
	display: block;
}

.stream {
	width: 378px;
	height: 22px;
	display: block;
	margin: 9px;
}

.biger {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	height: 22px;
	text-decoration: none;
}

#logo_first {
	padding-top: 27px;
	color: white;
}

#follow {
	height: 20px;
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	margin-left: 16px;
	margin-top: 3px;
	text-decoration: none;
	color: darkgrey;
}

#bigero {
	color: #f5001d;
}

#bigeron {
	margin-left: 16px;
	color: white;
}

#follow_2 {
	height: 20px;
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	margin-left: 24px;
	margin-top: 3px;
	text-decoration: none;
	color: darkgrey;
}

#bigeron_2 {
	margin-left: 17px;
	color: white;
}

#logo_second {
	color: white;
}

#naver_first {
	margin: 0;
}

#sponsors_marg {
	margin-top: 0;
}

#warning {
	margin-bottom: 0;
}

#warning_2 {
	height: 120px;
}

#last_sponsor {
	height: 70px;
	margin-top: 15px;
}

#last_sponsor p {
	margin-left: 20px;
	font-size: 20px;
	color: darkgrey;
}

.naver ul, li {
	display: inline;
}

.naver li {
	margin-left: 25px;
}

.naver a {
	color: white;
	text-decoration: none;
}

.naver a:hover {
	color: #f5001d;
	text-decoration: underline;
}

.hsecond h2 {
	font-size: 26px;
	padding: 5px;
	background-color: #ff003b;
	display: inline-block;
	vertical-align: top;
	color: white;
	margin-top: 245px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.welcome h1 {
	font-size: 34px;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	background-color: black;
	color: white;
}

.welcome p {
	display: inline-block;
	vertical-align: top;
	color: white;
	padding: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: rgba(0, 50, 50, 0.4);
}

.latest h2 {
	height: 30px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 40px;
}

.viewes p {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-right: 8px;
	color: white;
}

.subscribes p {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-right: 8px;
	color: white;
}

.likes p {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-right: 8px;
	color: white;
}

.downlodes p {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-right: 8px;
	color: white;
}

.read_more a {
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-right: 5px;
	color: white;
	text-decoration: none;
}

.read_more a:hover {
	color: gold;
	text-decoration: none;
}

.viewes img {
	height: 18px;
	margin-top: 9px;
	margin-right: 7px;
}

.subscribes img {
	height: 26px;
	margin-top: 4px;
	margin-right: 24px;
}

.likes img {
	height: 26px;
	margin-top: 4px;
	margin-right: 14px;
}

.downlodes img {
	height: 26px;
	margin-top: 4px;
	margin-right: 36px;
}

.zagolovok h2 {
	height: 32px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 2px;
}

.text p {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 24px;
	margin-right: 15px;
}

.text a {
	text-decoration: none;
	color: black;
}

.sponsors h2 {
	height: 32px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
	margin-left: 20px;
	color: darkgrey;
}

.s_first p {
	height: 22px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
	margin-right: 9px;
	color: white;
}

.s_second p {
	height: 22px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
	margin-right: 9px;
	color: white;
}

.s_third p {
	height: 22px;
	display: inline-block;
	vertical-align: top;
	margin-top: 9px;
	margin-right: 9px;
	color: white;
}

.s_first img {
	height: 22px;
	margin-top: 9px;
	margin-right: 220px;
}

.s_second img {
	height: 22px;
	margin-top: 9px;
	margin-right: 252px;
}

.s_third img {
	height: 22px;
	margin-top: 9px;
	margin-right: 250px;
}

.l_video iframe {
	width: 378px;
	height: 213px;
}

.league a {
	text-decoration: none;
	color: #ff003b;
	font-size: 12px;
}

.diamond_i img {
	height: 32px;
	margin-top: 8px;
	margin-left: 8px;
}

.l_video img {
	width: 382px;
	height: 217px;
}

.l_video_2 img {
	width: 382px;
	height: 217px;
}

.first_line img {
	width: 118px;
	height: 120px;
	margin-right: 9px;
}

.gallery_second img {
	width: 128px;
	height: 120px;
	margin-bottom: 9px;
}

.text a:hover {
	color: #f5001d;
	text-decoration: underline;
}

.cont_2 a:hover {
	color: gold;
	text-decoration: underline;
}